body {
    background-image: url("https://img.freepik.com/vector-gratis/coleccion-helados-planos_23-2148981567.jpg?w=2000");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divClass{
    color: #c58b0ee5;
}
h1 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    color: #c58b0ee5;
    font-size: 21px;
}
img {
    width: 400px;
    height: 350px;
}

#thirdDiv {
    background: white;
    height: 750px;
    width: 500px;
    padding: 50px;
    border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin-top: 20px;

}

#spanId {
    font-size: 18px;
    margin: 50px;
}
div {
    margin: auto;
    text-align: center;
}

li {
    font-size: 24px;
    color: #c58b0ee5;
}